<div class="container mt-2" style="min-height: 80vh;">
  <h4 class="mb-1" style="font-family: 'Arial', sans-serif; color: #333;">
    Bài viết về <%= title %>
  </h4>

  <% if (newsList.length> 0) { %>
    <div class="row">
      <% newsList.forEach(news=> { %>
        <div class="col-md-3 mb-4">
          <div class="card shadow-sm border-light">
            <a href="/news/<%= news._id %>" class="text-decoration-none hover-link">
              <img src="<%= news.image %>" class="card-img-top" alt="<%= news.title %>"
                style="height: 200px; object-fit: cover;">
              <div class="card-body">
                <h6 class="card-title" style="font-size: 1.25rem; color: #007bff;">
                  <%= news.title %>
                </h6>
                <p class="card-text text-muted">
                  <%= news.content.substring(0, 100) %>...
                </p>
              </div>
            </a>
          </div>
        </div>
        <% }); %>
    </div>
    <% } else { %>
      <p class="text-center text-muted">Chưa có bài viết nào trong danh mục này.</p>
      <% } %>
</div>

<style>
  .hover-link:hover {
    text-decoration: none;
    transform: scale(1.01);
    transition: transform 0.2s;
  }
</style>